@model DepartmentVM

<style>
    th{
        text-align:center;
    }
</style>

<div class="block-header">
    <h2>@Model.Name Details</h2>
</div>
<form asp-action="Create" asp-controller="Department"  method="post" class="form-group">
    
    @{await Html.RenderPartialAsync("~/Views/Department/DeleteDetails.cshtml");}
    <br />
        <a asp-action="index" asp-controller="department" class="btn btn-info py-5"> Return</a>
        <a asp-action="update" asp-controller="department" asp-route-dept= "@Model.Id" class="btn btn-warning py-5"> Update</a>
        <a asp-action="delete" asp-controller="department"asp-route-id = "@Model.Id" class="btn btn-danger py-5"> Delete</a>    
</form>
@section jqueryValidation{
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
}

