
@{
    ViewData["Title"] = "Delete";
}
<style>
    th{
        text-align:center;
    }
</style>

@section JqueryUi{
    <link  href="~/plugins/bootstrap-select/css/bootstrap-select.css" rel="stylesheet"  />
    <link  href="~/jqueryui/themes/base/jquery-ui.css" rel="stylesheet" />
}

<div class="block-header">
    <h2>@Model.Name </h2>
</div>
<form asp-action="delete" asp-controller="employee" >
       @{await Html.RenderPartialAsync("~/Views/partials/Employee/DetailsDelete.cshtml");}


    <input type="submit" class="btn btn-danger my-5  " value="delete" />
    <a asp-action="index" asp-controller="employee" class="btn btn-info my-5"> Return</a>

    </form>

@section jqueryValidation{
    <script src="~/jqueryui/jquery-ui.min.js"></script>
    <script src="~/plugins/jquery-validation/jquery.validate.js"></script>
    <script src="~/plugins/jquery-validation-unobtrusive/jquery.validate.unobtrusive.min.js"></script>
     <script>
        $( function() {
            $( "#datepicker" ).datepicker();
        });
  </script>
}

